* {
    box-sizing:border-box;
}

.page-wrapper {
    perspective:600px;
    position:relative;
}

.image-wrapper {
    position:absolute;
    overflow:hidden;
    -webkit-transition: 100ms;
    cursor:pointer;
    background:#fff;
    margin: 0 auto;
}

.image-wrapper:after {
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    border: 1px solid #fff;
    -webkit-transition: 500ms;
}

.image-wrapper.flipped {
    -webkit-transform:rotateZ(180deg);
}

.image-wrapper.completed:after {
    opacity:0;
    -webkit-transition: 500ms 500ms;
}

.image-wrapper.flipped img {
    opacity:0.5;
}

.image-wrapper.completed img {
    opacity:0;
    -webkit-transition: 500ms 500ms;
}

img {
    -webkit-transition: 400ms;
    position:relative;
}

.options {
    position:absolute;
    top:20px;
    right:20px;
    color:#333;
    background:#fff;
    padding:10px;
    width:200px;
    font-size:20px;
}