<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Angular prime number grid</title>
    <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
    <link href="/css/angular-primes.css" rel="stylesheet" />

</head>

<body ng-app="AngularPrimes" ng-controller="AngularPrimesCtrl">

    <div class="options">

        <a href="/">&larr; 3ack to j0edarrin8ton.com</a>

        <a class="float-right" href="https://github.com/jmditsolutions/joedarrington/blob/master/code-samples/angular-primes.html" target="_blank">View 5ource for p4ge on github &rarr;
        </a>

    </div>

    <h1>Angular <span>prime</span> number generator</h1>

    <div class="intro">

        <b>Amount of primes to display:</b>

        <input autocomplete="off"
            name="primeCount"
            ng-disabled="model.loading"
            ng-model="model.primeCount"
            type="number"
            min="1"
            max="{{model.maxCalc}}" />

        <button ng-disabled="model.loading" ng-click="primeChange()">
            update table
        </button> 

        <span class="error" ng-show="!model.primeCount">
            Pleae enter a positive number, less than {{ model.maxCalc+1 | number }}
        </span>

    </div>

    <div class="fade" ng-if="model.showTable">

        <span ng-if="!model.loading">(Showing {{ model.primes.length }} primes)</span>

        <div class="delay-fade" ng-if="model.loading">
            <b>Loading table...
            </b>
        </div>

        <table class="fade" ng-if="!model.loading && model.primeCount">

            <tbody>

                <tr>

                    <th></th>

                    <th ng-repeat="b in model.primes">{{ b | number }}

                    </th>

                </tr>

                <tr ng-repeat="a in model.primes">

                    <th>{{ a | number }}

                    </th>

                    <td ng-repeat="b in model.primes">{{ a * b | number }}

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

    <div class="fade" ng-if="!model.showTable && model.primeCount">

        <p>
            The number is too large to display a table.
        </p>

        <p>

            Prime <span ng-if="!model.loading">{{ model.primes.length | number }}</span> is  <b>

                <span class="delay-fade" ng-if="model.loading">loading...</span>

                {{ model.lastPrime | number }}</b>

        </p>

    </div>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-animate.min.js"></script>
    <script src="/js/angular-primes.js"></script>

</body>
</html>
