<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/cascading-dropdowns.css" rel="stylesheet" />

</head>
<body>

    <div class="page-wrapper">

        <a href="/experiments.html">&larr; back to experiments</a>

        <br /><br />

        <div class="app-wrapper" ng-app="CascadingDropdownsApp" ng-controller="CascadingDropdownsCtrl">

            <h1>Cascading Dropdowns in AngularJS.</h1>
            <h2>w/ local storage persistence (hit f5)</h2>

            <p>

                <label>
                    Continent:<br />
                    <select
                        ng-model="model.selectedContinent"
                        ng-options="continent.name for continent in model.continents track by continent.id">
                    </select>
                </label>

            </p>

            <p>

                <label>
                    Country:<br />
                    <select
                        ng-model="model.selectedContinent.selectedCountry"
                        ng-options="country.name for country in model.selectedContinent.countries track by country.id">
                    </select>
                </label>

            </p>
            <p>

                <label>
                    City:<br />
                    <select
                        ng-model="model.selectedContinent.selectedCountry.selectedCity"
                        ng-options="city for city in model.selectedContinent.selectedCountry.cities">
                    </select>
                </label>

            </p>

        </div>

    <a href="http://plnkr.co/edit/RuSmGfC1iIvApzUvGl69?p=preview" target="_blank">View in Plunker</a>



    </div>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-local-storage.min.js"></script>
    <script src="/js/cascading-dropdowns.js"></script>

</body>
</html>
