<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title></title>

    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/teddy.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>

</head>


<body ng-cloak ng-class="{ _8bit: _8bit, animate: animate }" ng-app="BearApp" ng-controller="BearCtrl">

    <a href="/experiments.html">&larr; back to experiments</a>

    <h1>CSS3 Bear</h1>

    <div class="options">

    <label>
        Mode: 
    <select
        ng-model="bear"
        ng-options="bear for bear in bears">
    </select>

    </label>

<!--    <label>
    <input type="checkbox"  />
        Show animations
    </label>-->

    <label>

    <input ng-model="_8bit" type="checkbox"  />
        8 bit
    </label>

    </div>

    <div class="teddy">

        <div class="{{ bear }} eyes">
        </div>

        <div class="{{ bear }} ears">
        </div>

        <div class="{{ bear }} nose">
        </div>

        <div class="{{ bear }} face">
        </div>

        <div class="{{ bear }} body">

            <div class="{{ bear }} arms">
            </div>

            <div class="{{ bear }} legs">
            </div>

        </div>

    </div>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/css-teddy.js"></script>

</body>
</html>
